.cont_post{
	@include gridle(12, xs sm);
	@include gridle(8, md);
	margin-top: 20px;
	.ad_content{
		@include gridle(12);
		margin: 20px 0;
		.zone_728x90{
			width:728px;
			height: 90px;
			@include gridle_state(xs){
				display: $hide;
			}
			@include gridle_centered(sm md);
		}
	}
	#slide{
		@include gridle(12);
		@include gridle_parent();
		height:442px;
		overflow: hidden;
		position: relative;
		@include gridle_state(xs) {
			height: 242px;
		}
		ul{
			position: relative;
			list-style: none;
			overflow: hidden;
			width: 100%;
			padding: 0;
			margin: 0;
			li{
				-webkit-backface-visibility: hidden;
				position: absolute;
				display: none;
				width: 100%;
				height: 442px;
				left: 0;
				top: 0;
				background:{
					size:cover;
					position:center;
				}
				@include gridle_state(xs){
					height: 242px;
				}
				&:first-child {
					position: relative;
					display: block;
					float: left;
				}
				a{
					display: block;
					width: 100%;
					height: 100%;
					text:{decoration:none;}
					.fecha{
						width:61px;
						height: 54px;
						background:{color:$pri_color;}
						color:#fff;
						@extend .text-center;
						@include gridle_float(right);
						margin-right:10px;
						font:{size:20px;family:$font_hammer;}
						text:{transform:uppercase;}
						line-height: 20px;
						padding-top: 10px;
						span{
							font:{size:26px;}
						}
					}
					.category{
						@include gridle_float(left);
						@extend .text-center;
						height: 15px;
						padding:15px 10px;
						background:{color:$pri_color;}
						font:{size:14px;family:$font_hammer;style:italic;}
						text:{transform:uppercase;}
						color:#fff;
						margin-top:10px;
					}
					//hightligt
					.tit{
						width: 100%;
						padding:10px 0;
						margin-bottom: 1rem;
						position: absolute;
						bottom: -18px;
						@extend .text-center;
						font:{size:29px;family:$font_fjalla;}
						color: #fff;
						background:{color:rgba(0,0,0,.5);}
					}
				}
			}
		}
		.prev{
			display: block;
			width:35px;
			height: 35px;
			margin-left: 0px;
			margin-top:-230px;
			@include gridle_float(left);
			position: relative;
			z-index: 9;
			background:{image:url('#{$url_path}flechas_slide.gif');repeat:no-repeat;position:8px center;color:$pri_color;}
			@include gridle_state(xs){
				margin-top: -150px;
			}
		}
		.next{
			@extend .prev;
			@include gridle_float(right);
			margin-right: 0;
			background:{position:-38px center;}
		}
	}
	.reciente{
		@include gridle_parent();
		@include gridle(12);
		border-top:solid 1px #eee;
		h2{
			color:$pri_color;
			font:{size:26px;family:$font_fjalla;}
			text:{transform:uppercase;}
			margin:20px 0;
		}
		.post_pages{
			p{
				margin-bottom: 10px;
				font:{family:$font_hammer;size:14px;}
				color:#555;
				small{
					font:{size:11px;}
					color:#999;
				}
			}
		}
		.post{
			@include gridle(12, xs sm);
			@include gridle(12, md);
			margin-bottom: 20px;
			//max-height:332px;
			@include gridle_state(xs){
				min-height: 385px;
			}
			a{
				text:{decoration:none;}
				.post_img{
					height: 225px;
					background:{position: center center;size:cover;}
					.fecha{
						width:50px;
						height: 50px;
						background:{color:$pri_color;}
						color:#fff;
						@extend .text-center;
						@include gridle_float(right);
						margin-right:10px;
						font:{size:18px;family:$font_hammer;}
						text:{transform:uppercase;}
						line-height: 20px;
						padding-top: 10px;
						span{
							font:{size:20px;}
						}
					}
				}
				h3{
					font:{size:20px;family:$font_fjalla;}
					text:{transform:uppercase;}
					color:$pri_color;
					padding:10px 0;
				}
				h4{
					font:{family:$font_hammer;size:12px;}
					color:#ccc;
					margin:5px 0;
					text:{transform:uppercase;}
				}
				p{
					font:{family:$font_hammer;size:15px;}
					line-height: 1.5em;
					color:#555;
				}
			}
			.tags{
				padding-top:10px;
				@include gridle_float(left);
				li{
					a{
						text:{transform:uppercase;}
						font:{size:11px;family:$font_fjalla;}
						color: #fff;
						padding:2px 5px;
						background:{color:$pri-color;}
					}
				}
			}
			.more{
				@include border-radius(50%);
				@include gridle_float(right);
				background:{color:#99FFE5;image:url('#{$url_path}icon_more.gif');repeat:no-repeat;position:center;}
				margin-top:10px;
				width:22px;
				height: 22px;
				a{
					width: 100%;
					height: 100%;
					display: block;
				}
			}
		}
		.pagination{
			@include gridle_clear(both);
			@include gridle(12);
			padding:20px 0;
			.page-numbers{
				@extend .inline;
				li{
					padding:5px;
					background:{color:$pri_color;}
					font:{family:$font_fjalla;size:14;style:italic;}
					color:#fff;
					a{
						color:#fff;
						text:{decoration:none;}
					}
				}
			}
		}
		.post_nav{
			@include gridle(12);
			@include gridle_clear(both);
			padding:10px;
			.nav_next{
				display: table;
				height: 30px;
				@include gridle_float(right);
				a{
					display: table-cell;
					border: 1px solid $pri_color;
					height: 30px;
					background:{image:url('#{$url_path}flecha_navpost_nxt.gif');size:auto 100%;position: 66px center;repeat:no-repeat;}
					vertical-align: middle;
					font:{family:$font_hammer;size:13px;}
					color: $pri_color;
					padding: 0px 39px 0px 4px;
					text:{decoration:none;}
				}
			}
			.nav_prev{
				@extend .nav_next;
				@include gridle_float(left);
				a{
					background:{image:url('#{$url_path}flecha_navpost_prv.gif');position:0 center;}
					padding: 0px 11px 0px 39px;
				}
			}
		}
	}
}