@include gridle_state(xs){
	.ad_mobile{
		display:block;
		width:100%;
		height: 50px;
		position: fixed;
		z-index: 99;
		bottom:0;
		background:{color:$pri_color;}
		text:{align:center;}
	}
}
.scrollToTop{
	@include responsive('max-width:1024px') {
		display: none !important;
	}
	width:40px; 
	height:40px;
	padding:10px; 
	text-align:center;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	background:{color:$pri_color}
	color: #fff;
	font:{family:$font_hammer;size:12px;}
	text:{transform:uppercase;}
	&:hover{
		text-decoration:none;
	}
}
.header{
	@include gridle_parent();
	position: relative;
	z-index: 9;
	nav{
		@extend .content;
		border-top:1px solid $gris_color;
		border-bottom:1px solid $gris_color;
		margin-top: 10px;
		background:{color:#fff;}
		.cont_menu{
			@extend .content;
			ul{
				@extend .inline;
				@include gridle(12, xs);
				@include gridle(9, sm);
				font:{family:$font_hammer;size:14px;weight:600;}
				li{
					@include gridle_state(xs){
						width: 100%;
					}
					a{
						display: block;
						color:#000;
						height: 37px;
						padding:25px 25px 0;
						text:{decoration:none;transform:uppercase;}
						&:hover{
							//background:{color:$pri_color;}
							color:$sec_color;
						}
						&.current-menu-item{
							color:$sec_color;
						}
					}
					&.current-menu-item{
						a{color:$pri_color;}
					}
				}
			}
			.search{
				@include gridle(3);
				@include gridle_hide(xs);
				form{
					padding-top: 20px;
					label{
						@include gridle_float(right);
						input{
							border:none;
							@extend .text-left;
							padding-right:10px;
							height: 21px;
							font-size: 13px;
							@include placeholder(){
								color:#000;
								padding-bottom:10px;
								font:{
									size:15px;
									style:italic;
									family:$font_hammer;
									weight:600;
								}
								@include opacity(1);
							}
						}		
					}
					.search-submit{
						@include gridle_float(right);
						width: 20px;
						height: 21px;
						border:none;
						background:{image:url('#{$url_path}icon_search.gif');}
						text:{indent:-1000px;}
					}
				}
			}
		}
		.nav-toggle{
			@include gridle_float(right);
			margin:5px;
			width: 30px;
			height: 30px;
			background:{image:url('#{$url_path}icon_menu.svg');size:cover;repeat:no-repeat;position:center;}
		}
	}
	.cont_subt_top{
		@extend .content;
		@include gridle_parent();
		margin-top:20px;
		.logo{
			@include gridle(12, xs sm);
			@include gridle(4, md);
			svg{
				width:100%;
				position: relative;
				height: auto;
				@include gridle_state(xs){
					height: 78px;
				}
				@include gridle_state(sm){
					height: 188px;
				}
				@include gridle_state(md webkit_brw) {
					height: 98px;
				}
			}
		}
		.ad_header{
			@include gridle(8);
			.zone_728x90{
				@include gridle_state(xs sm){
					display: $hide;
				}
				@include gridle_centered(md);
				width:728px;
				height: 90px;
			}
		}
	}
}