.header{
	@include gridle_parent();
	nav{
		@include gridle_parent();
		border-bottom:1px solid $pri_color;
		background:{color:#fff;}
		.cont_menu{
			@extend .content;
			ul{
				@extend .inline;
				@include gridle(9);
				font:{family:$font_hammer;size:14px;}
				a{
					display: block;
					color:#000;
					height: 37px;
					padding:25px 25px 0;
					text:{decoration:none;}
					&:hover{
						background:{color:$pri_color;}
						color:#fff;
					}
				}
			}
			.search{
				@include gridle(3);
				form{
					padding-top: 20px;
					label{
						margin-right:20px;
						span{
						@extend .hide;
						}
						input{
							border:none;
							@extend .text-right;
							@include placeholder(){
								color:#000;
								font:{
									size:12px;
									weight:bold;
									style:italic;
								}
								@include opacity(1);
							}
						}		
					}
					.search-submit{
						width: 20px;
						height: 21px;
						border:none;
						background:{image:url(#{$url_path}icon_search.gif);}
					}
				}
			}
		}
	}
	.cont_subt_top{
		@extend .content;
		@include gridle_parent();
		margin-top:20px;
		.logo{
			@include gridle(4);
			svg{
				width:100%;
				position: relative;
				height: auto;
			}
		}
		.ad_header{
			@include gridle(8);
			.zone_728x90{
				width:728px;
				height: 90px;
				@include gridle_centered();
				background:{color:#f90;}
				@include opacity(.3);
			}
		}
	}
}