//Menu inline
$inline:inline-block;

//Text Align
$text-center:center;
$text-left:left;
$text-right:right;

//visiblitity
$hidden:hidden;
$visible:visible;
$hide:none;

//Paths
$url_path:'../img/';

//Fonts
$font_hammer:'Hammersmith One', 'sans-serif';
$font_fjalla:'Fjalla One', 'sans-serif';

//Color
$pri_color:#DE0283;

//hightligt
$padding: 0.5rem;

//ads bg color
$ad_color:#333;
