.cont_single{
	@include gridle_parent();
	@include gridle(12);
	@include gridle(12, tablet);
	@include gridle_centered();
	background:{color:#fff;}
	nav{
		@include gridle(12);
		@include gridle_parent();
		.cerrar{
			background:{
				color:$pri_color;
			}
			@include gridle_float(right);
			@include gridle_hide(mobile);
			display: tablet;
			color:#fff;
			width:40px;
			height: 39px;
			text:{align:center;}
			margin-left: 9px;
			cursor: pointer;
			div{
				width:40px;
				height: 40px;
				display: table-cell;
				vertical-align: middle;
				font:{family:$font_hammer;}
			}
		}
		.share{
			@include gridle_float(right);
			@include gridle_state(mobile) {
				margin:10px auto;
				float: none !important;
			}
			.ssba{
				div{
					@include gridle_state(mobile) {
						text-align:center !important;
					}
					.ssba_sharecount{
						@include gridle_state(mobile){
							padding: 13px 6px 14px !important;
							margin-right: 0;
						}
					}
					.ssba_email_share{
						@include gridle_hide(mobile);
					}
				}
			}
		}
	}
	.cont_post_single{
		@include gridle(8);
		@include gridle(12, mobile);
		@include gridle_clear(both);
		margin-top:20px;
		header{
			h2{
				color:$pri_color;
				font:{size:45px;family:$font_fjalla;}
				text:{transform:uppercase};
				@include gridle_state(mobile) {
					font:{size:25px;}
					margin-bottom: 10px;
				}
			}
		}
		.meta{
			margin:10px 0;
			width: 100%;
			@include gridle_clear(both);
			.tags{
				@include gridle_float(left);
				margin-top:5px;
				li{
					@extend .inline;
					a{
						text:{transform:uppercase;decoration:none;}
						font:{size:18px;family:$font_fjalla;style:italic;}
						color: #fff;
						padding:2px 5px;
						background:{color:$pri-color;}
					}
				}
			}
			.fecha{
				@include gridle_float(left);
				margin-left:10px;
				font:{size:18px;family:$font_fjalla;style:italic;}
				color: #fff;
				padding:5px 5px;
				background:{color:$pri-color;}
			}
		}
		p{
			@include gridle_clear(both);
			padding-top:10px;
			font:{size:12px;family:$font_hammer;}
		}
		.ad_content{
			@include gridle(12);
			margin: 20px 0;
			.zone_728x90{
				@include breakpoint(medium){
					display: none !important;
				}
				width:728px;
				height: 90px;
				@include gridle_centered();
				background:{color:$ad_color;}
				@include opacity(.3);
			}
		}
	}
	.clear{
		height: 100px;
		@include gridle_clear(both);
	}
}