.cont_single{
	@include gridle_parent();
	@include gridle(12, xs sm);
	@include gridle_centered(lg);
	background:{color:#fff;}
	margin-top:30px;
	@include gridle_state(xs sm){
		margin-top:0;
	}
	.cont_post_single{
		@include gridle(12, xs sm);
		@include gridle(8, md);
		@include gridle_clear(both);
		margin-top:20px;
		header{
			h2{
				color:$pri_color;
				font:{size:45px;family:$font_fjalla;}
				text:{transform:uppercase};
				@include gridle_state(xs) {
					font:{size:25px;}
					margin-bottom: 10px;
				}
			}
		}
		.fecha{
			font:{family:$font_hammer;size:12px;}
			color:#ccc;
			margin:5px 0;
			text:{transform:uppercase;}
		}
		nav{
			@include gridle(12);
			@include gridle_parent(sm lg);
			@include gridle_clear();
			margin: 10px 0;
			.post_nav{
				@include gridle_state(xs){
					margin:0 auto 45px;
					width: 175px;
				}
				@include gridle_state(md){
					float: left;
				}
				@include gridle_clear(both);
				a{
					@include gridle_float(left);
					display: block;
					width:40px;
					height: 39px;
					background:{
						color:$pri_color;
						image:url('#{$url_path}flechas_slide.gif');
						size:100%;
						position: center;
						repeat:no-repeat;
					}
					&.nav_prev{
						background: {
							position:13px;
						}
					}
					&.nav_next{
						background: {
							position:-13px;
						}
					}
				}
				.nextxt{
					display: table;
					height: 37px;
					border: 1px solid $pri_color;
					padding:0 2px;
					@include gridle_float(left);
					p{
						display: table-cell;
						vertical-align: middle;
						font:{family:$font_hammer;size:13px;}
						color: $pri_color;
						padding:0 2px;
					}
				}
				
			}
			.cerrar{
				background:{
					color:$pri_color;
				}
				@include gridle_float(right);
				@include gridle_hide(xs);
				display: table;
				color:#fff;
				width:40px;
				height: 39px;
				text:{align:center;}
				margin-left: 9px;
				cursor: pointer;
				div{
					width:40px;
					height: 40px;
					display: table-cell;
					vertical-align: middle;
					font:{family:$font_hammer;}
				}
			}
			.share{
				//@include gridle_float(right);
				@include gridle_state(xs) {
					margin:10px auto;
					float: none !important;
					clear: both !important;
				}
				.addthis_toolbox{
					display: block;
					span{
						@extend .cerrar;
						height: 40px;
						text-indent: -1000px;
						background:{color:$pri_color;}
						overflow: hidden;
						position: relative;
						&.at15t_google_plusone_share{
							background: {image:url('#{$url_path}icon_sgoplus.gif');position: center;size:80%;}
						}
						&.at15t_email{
							background: {image:url('#{$url_path}icon_smail.gif');position: center;size:80%;}
						}
						&.at15t_facebook{
							background: {image:url('#{$url_path}icon_sfb.gif');position: center;size:80%;}
						}
						&.at15t_twitter{
							background: {image:url('#{$url_path}icon_stw.gif');position: center;size:80%;}
						}
						span{
							@extend .hide;
						}
					}
				}
			}
		}
		.meta{
			margin:10px 0;
			width: 100%;
			@include gridle_clear(both);
			.tags{
				@include gridle_float(left);
				margin-top:5px;
				li{
					@extend .inline;
					a{
						text:{transform:uppercase;decoration:none;}
						font:{size:18px;family:$font_fjalla;style:italic;}
						color: #fff;
						padding:2px 5px;
						background:{color:$pri-color;}
					}
				}
			}
			.view_comments{
				@include gridle_float(right);
				.btn_comment{
					text:{transform:uppercase;decoration:none;}
					font:{size:18px;family:$font_fjalla;style:italic;}
					color: #fff;
					padding:5px;
					background:{color:$pri-color;}
					cursor:pointer;
				}
			}
		}
		.addthis_toolbox{
			@extend .hide;
		}
		p{
			@include gridle_clear(both);
			padding-top:10px;
			font:{size:12px;family:$font_hammer;}
			iframe{
				width: 100%;
				height: 450px;
			}
		}
		.ad_content{
			@include gridle(12);
			margin: 20px 0;
			.zone_728x90{
				@include gridle_state(xs){
					display: $hide;
				}
				@include gridle_centered(sm md);
				width:728px;
				height: 90px;
			}
		}
	}
	.salto{
		@include gridle_clear();
		height: 100px;
	}
}