.single{
	@include gridle_centered();
	@include gridle(10);
	background:{color:#fff;}
	margin-top: 204px;
	.cont_post_single{
		@include gridle(8);
		@include gridle_clear(both);
		margin-top:20px;
		header{
			h2{
				color:$pri_color;
				font:{size:45px;family:$font_fjalla;}
			}
		}
	}
	.clear{
		@include gridle_clear(both);
	}
}